<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="container mx-auto px-4">        
        <!-- menu -->
        <div class="navbar bg-base-100 my-6 flex flex-col sm:flex-row gap-2 sm:gap-0">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="/cars">Rent a Car</a>
            </div>
            <div class="flex-none">
                <a class="btn btn-error" href="/logout">Logout</a>
            </div>
        </div>

        <!-- main content -->
         <% if (loggedIn) { %>
           
       
            <!--<p class="btn btn-ghost text-xl"></p>-->
            <!-- <div class="badge badge-neutral badge-dash">Dash</div> -->
             <div class="card w-full max-w-sm bg-base-100 card-lg mx-auto">
            <div class="card-body">
                <h2 class="card-title">Hello: <%= session %></h2>
            </div>
            </div>






         <% }  %>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-6 items-stretch">        
            <% for (let i = 0; i < car.length; i++) { %>
            <div class="card bg-base-250 w-full max-w-md shadow-xl card-bordered  mx-auto h-full">
                <figure class="h-56 lg:h-64 flex items-center justify-center overflow-hidden">
                    <img src="<%=car[i].imageUrl%>"/>
                </figure>
                <div class="card-body flex flex-col justify-between gap-4 px-8 py-6">
                    <h2 class="card-title"><%= car[i].model%> </h2>

                    <% if (!car[i].rentedBy)  { %>
                        <!--Not Rented-->
                        <a href="/book/<%= car[i]._id %>" class="btn btn-primary">Book</a>
                    <% } else if ( car[i].rentedBy._id.toString() === user._id.toString()) { %>
                        <!-- Rented by current user -->
                         <p>Return Date: <strong><%= car[i].returnDate  %></strong></p>
                         <a href="/car/<%= car[i]._id %>/return" class="btn btn-warning"> Return</a>
                        
                        <% } else {%>
                            <!-- Rented by someone else -->
                             <p class="mt-2 text-red-500">
                                 Unavailable until <strong><%= car[i].returnDate %></strong>
                            </p>
                            <% }  %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>